.vheight-100 {
  min-height: 100vh;
}
.below-nav {
  padding-top: 5rem;
}
/* Filters and projects */
.list-group-item {
  background-color: transparent;
}
.list-group-item.active {
  background-color: #28a745;
  border-color: #28a745;
}
.list-group-item-action:hover {
  background-color: #9becae;
}
.projects-title {
  margin-top: 2rem;
}
.important {
  color: red;
}
.notbold {
  font-weight: normal;
}
​
/* it is not used */
.dummy {
  color: black;
}
.fixed-right-bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1030;
  margin: 0 1.5rem 1.5rem 0;
  border-radius: 50%;
}

.logoutbtn {
  padding-top: 5rem;
}

.loginForm {
  position: relative;
  padding: 2rem;
  border: 2px solid rgb(41, 39, 39);
  border-radius: 25px;
  margin: 8rem auto auto auto;
  width: 370px;
  height: max-content;
}

.userdet {
  position: absolute;
  right: -20px;
  padding-top: 5rem;
  border: 2px solid rgb(41, 39, 39);
  border-radius: 25px;
  width: 250px;
}
